---
import Layout from '../../layouts/Layout.astro';
import styles from '../../pages-styles/return-to-support.module.scss';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import FlipCountdown from '@components/campaigns-components/FlipCountdown';
import RenewNowButton from '@components/campaigns-components/RenewNowButton';
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
import ImageCarousel from '@components/campaigns-components/ImageCarousel';

// Tracking / Analytics
const utmSource = 'ag-grid.com';
const utmMedium = 'marketing-campaign-landing-page';
const utmCampaign = 'return-to-support-campaign';
const utm = `?utm_source=${utmSource}&utm_medium=${utmMedium}&utm_campaign=${utmCampaign}`;

// Mailto Content
const mailtoAddress = 'info@ag-grid.com';
const mailtoSubject = 'Return To Support Offer';
const mailtoBody = '';
const mailto = `mailto:${mailtoAddress}?subject=${encodeURIComponent(mailtoSubject)}&body=${encodeURIComponent(mailtoBody)}`;
---

<!-- Oswald font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet" />

<Layout
    title={'Welcome back to better support & new features'}
    description={'Renew your AG Grid support to unlock the latest features, updates, and dedicated support.'}
    showDocsNav={false}
    showSearchBar={true}
    hidePageFromSearchEngines={true}
>
    <div class={`layout-max-width-small`}>
        <div class={styles.rtsHeroGradient}></div>
        <div class={styles.rtsHeroSection}>
            <div class={styles.rtsHeroContent}>
                <h2>Welcome back to better support & new features</h2>
                <p>
                    Take advantage of our limited-time renewal offer and unlock the full power of AG Grid support before
                    our return to support policy takes effect. Renew today and stay ahead.
                </p>
            </div>
            <div class={styles.rtsFlipClockBox}>
                <div class={styles.rtsFlipClock}>
                    <div class={styles.rtsFlipClockEnds}>OFFER ENDS AUGUST 31ST</div>

                    <FlipCountdown client:only days={60} />
                </div>
                <RenewNowButton
                    href={mailto}
                    className={`button ${styles.button}`}
                    plausibleEventType="renew-header-cta"
                    text="Renew Now"
                    client:load
                />
            </div>
        </div>

        <section class={styles.rtsBenefitsSection}>
            <div class={styles.sectionTitle}>
                <h2>Why renewing makes sense, <br />at a glance</h2>
                <p>
                    Pick up where you left off and enjoy the full benefits of AG Grid at today's prices. In future,
                    renewing once you are out of contract will incur back pay and reinstatement charges.
                </p>

                <RenewNowButton
                    href={mailto}
                    className={`button-tertiary ${styles.button}`}
                    plausibleEventType="renew-body-cta"
                    text="Contact us at info@ag-grid.com"
                    client:load
                />
            </div>

            <div class={styles.rtsBenefitsTableWrapper}>
                <table class={styles.rtsBenefitsTable}>
                    <thead>
                        <tr>
                            <th></th>
                            <th class={styles.renewedSupportTitle}>Renewed Support & Maintenance</th>
                            <th>Lapsed Support & Maintenance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Access to latest versions and updates</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>Security patches and critical fixes</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>Technical support from AG Grid team</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>Compatibility with latest browsers</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>New features and improvements</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>Priority issue resolution</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>Peace of mind for your team</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                        <tr>
                            <td>Compatibility with latest framework versions</td>
                            <td>
                                <span class={styles.tick}>
                                    <Icon name="tick" />
                                </span></td
                            >
                            <td><span class={styles.dash}>—</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class={styles.rtsReleasesSection}>
            <div class={styles.sectionTitle}>
                <h2>Latest releases</h2>
                <p>Here's what you've missed since you've been gone</p>
                <a href={urlWithBaseUrl(`/whats-new/${utm}`)} target="_blank" class={`button-tertiary ${styles.button}`}
                    >View recent releases <Icon name="chevronRight" /></a
                >
            </div>
            <div class={styles.rtsReleaseCards}>
                <div class={styles.rtsReleaseCard}>
                    <a href=`https://blog.ag-grid.com/whats-new-in-ag-grid-33-2/${utm}` target="_blank">
                        <img src={urlWithBaseUrl(`images/campaigns/33.2.png`)} class={styles.rtsReleaseImage} />
                        <h3>33.2: Find</h3>
                        <p>Instantly search and locate data using the powerful new in-grid Find feature</p>
                    </a>
                </div>

                <div class={styles.rtsReleaseCard}>
                    <a href=`https://blog.ag-grid.com/whats-new-in-ag-grid-33-3/${utm}` target="_blank">
                        <img src={urlWithBaseUrl(`images/campaigns/33.3.png`)} class={styles.rtsReleaseImage} />
                        <h3>33.3: Row Pinning</h3>
                        <p>
                            Bring a familiar, spreadsheet-style experience to your users with row numbers, resizable row
                            heights, and customizable header columns.
                        </p>
                    </a>
                </div>
                <div class={styles.rtsReleaseCard}>
                    <a href=`https://blog.ag-grid.com/whats-new-in-ag-grid-34/${utm}` target=" _blank">
                        <img src={urlWithBaseUrl(`images/campaigns/34.png`)} class={styles.rtsReleaseImage} />
                        <h3>34: Filter Tool Panel</h3>
                        <p>
                            Take control of data filtering with the redesigned Filters Tool Panel, faster, clearer, and
                            more intuitive than ever.
                        </p>
                    </a>
                </div>
            </div>
        </section>

        <section class={styles.rtsTrustedSection}>
            <h2>Trusted by developers worldwide</h2>
            <div class={styles.rtsTrustedQuotes}>
                <div class={styles.rtsTrustedQuote}>
                    <p>"The flexibility provided by AG Grid and your support is unmatched."</p>
                    <span>Dizparc – IT Services, EMEA</span>
                </div>
                <div class={styles.rtsTrustedQuote}>
                    <p>"Amazing software! Used it for years and it has been great."</p>
                    <span>PwC – Global Professional Services Firm</span>
                </div>
                <div class={styles.rtsTrustedQuote}>
                    <p>"Keep up the great work, it's still the best grid in the world."</p>
                    <span>Developer on X</span>
                </div>
            </div>
        </section>

        <section class={styles.rtsChartsCtaSection}>
            <div class={styles.rtsChartsCtaContent}>
                <h2>It's time to try AG Charts</h2>
                <a href=`https://www.ag-grid.com/charts${utm}` target="_blank" class={`button-primary ${styles.button}`}
                    >Get started with charts <Icon name="chevronRight" /></a
                >
            </div>
            <div class={styles.carouselWrapper}>
                <ImageCarousel client:load />
            </div>
        </section>

        <section class={styles.rtsRenewSection} id="renew">
            <div class={styles.rtsRenewLeft}>
                <h2>Ready to renew?</h2>

                <RenewNowButton
                    href={mailto}
                    className={`button ${styles.button}`}
                    plausibleEventType="renew-footer-cta"
                    text="Renew now"
                    client:load
                />
            </div>
            <div class={styles.rtsRenewRight}>
                <div class={styles.rtsRenewContent}>
                    <p>
                        For transparency and to be fair to those customers whose support and maintenance fees enable us
                        to continue to develop the best grid in the world, we are introducing a change to our pricing
                        policy by introducing a return to support policy for lapsed customers.
                    </p>
                </div>
            </div>
        </section>
    </div>
</Layout>
